<div id="rwc-navbar" style="display: flex; flex-direction: row;align-items: center;">
    <h1 *ngIf="!isMobile" style="flex:1; color: #426ef0; font-size: 1.5rem; margin-left: 3rem;">Runway 4W</h1>
    <div *ngIf="isAddress"
        style="display: flex; width:100%; flex-direction: row; justify-content: center; align-items: center; justify-items: center; flex:4;">
        <div id="rwc-address-input" style="display: flex; flex-direction:row; width: 100%; padding:3px;">
            <div style="background:#426ef0; border-radius:20px; padding: 0.5rem; color:#fff;font-weight: bold;"
                (click)="toggleIsAddress()">4w://
            </div>
            <input [(ngModel)]="location.address" id="rwc-address-input-placeholder" placeholder="Enter 4W Address"
                (keypress)="addressKeypress($event)">
        </div>

    </div>

    <div *ngIf="!isAddress"
        style="display: flex; width:100%; flex-direction: row; justify-content: center; align-items: center; justify-items: center; flex:4;">
        <div id="rwc-address-input" style="display: flex; flex-direction:row; width: 100%; padding:3px;">
            <div style="background:#e83415; border-radius:20px; padding: 0.5rem; color:#fff;font-weight: bold;"
                (click)="toggleIsAddress()">Address
            </div>
            <input [(ngModel)]="location.actualAddress" id="rwc-address-input-placeholder"
                placeholder="Enter actual address" (keypress)="actualAddressKeypress($event)">
        </div>

    </div>

    <div style="flex:1">
        <button (click)="location.getCurrentLocation()" class="rwc-bt">
            <span class="material-symbols-outlined">
                my_location
            </span>
        </button>
    </div>
</div>